*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

body{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: rgb(75, 68, 68);

}
h1{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
  color: #e7e7e7;
}
.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}